h1 {
    font-size: 2em;
}
.cell {
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4em;
    font-family: Arial, Helvetica, sans-serif;
}
.top {
    border-top: 0px;
}
.left {
    border-left: 0px;
}
.right {
    border-right: 0px;
}
.bottom {
    border-bottom: 0px;
}
.winner {
    background-color: rgba(255, 0, 0, 0.416);
    font-weight: bold;
}
.tie {
    background-color: rgba(128, 128, 128, 0.479);
}

#board {
    display: grid;
    height: min(60vmin, 90vw);
    width: min(60vmin, 90vw);
    margin: 5vmin auto;
    position: relative;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}
#msg,
#player {
    margin-bottom: 1em;
    font-size: 1em;
}
#btn,
#btn2 {
    font-size: 1em;
    padding: 0.5em;
    margin: 0.2em;
}

.hidden {
    display: none !important;
}

.inpBox {
    width: 4rem;
    height: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@media (max-widrh: 400px) {
    .cell {
        font-size: 2em;
    }
    #msg,
    #player {
        font-size: 0.9em;
    }
    #btn,
    #btn2 {
        font-size: 0.9em;
        padding: 0.4em;
        margin: 0, 2em;
    }
    .inpBox {
        width: 3rem;
        height: 1.5em;
    }
}
